@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 2px;
  height: 100%;
  background: #515e7b url('home-scene-winter.svg');
  background-size: cover;
  background-position: center bottom;
  color: #fff;
}

/* MAIN  */

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.global-container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.time {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  margin-top: -100px;
  position: relative;
  opacity: 0.1;
}

.title::after {
  content: '';
  height: 3px;
  width: 100px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 45%;
  margin-left: 20px;
}

.header-time {
  display: inline-block;
  color: #fff;
}

.header-time,
span {
  vertical-align: middle;
  margin: 0;
}

/* BUTTONS */
.buttons {
  margin-top: -120px;
}

.button {
  padding: 8px 20px;
  border: 0;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button:hover {
  box-shadow: 0px 15px 49px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 15px 49px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 49px -9px rgba(0, 0, 0, 0.75);
  transform: translateY(-3px);
}

.button:not(:last-child) {
  margin-right: 10px;
}

.hours::before {
  content: 'hours';
  font-size: 10px;
  display: block;
  position: absolute;
  font-weight: 400;
  text-align: center;
}
.minutes::before {
  content: 'minutes';
  font-size: 10px;
  display: block;
  position: absolute;
  font-weight: 400;
  text-align: center;
}
.seconds::before {
  content: 'seconds';
  font-size: 10px;
  display: block;
  position: absolute;
  font-weight: 400;
  text-align: center;
}

.milSeconds::before {
  content: 'milliseconds';
  font-size: 10px;
  display: block;
  position: absolute;
  font-weight: 400;
}
